.checkout_wrapper .product_info{
  background: #e85c4d;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}
.checkout_wrapper .product_info .content{
  text-align: center;
  margin-top: 25px;
  color: #fff;
  text-transform: uppercase;
}
.checkout_form .details .section{
  margin-bottom: 15px;
}
.section input {
    background: #fff !important;
    border-color: #c9d0d5;
    height: 45px !important;
    color: #919191;
    border-radius: 5px !important;
    padding-left: 20px !important;
    font-size: 15px !important;
}
button#pay_razor {
    padding: 13px 20px 13px 20px;
    border-radius: 5px;
    border: 1px solid #047afb !important;
    font-size: 15px;
    background-color: #007bff !important;
    color: #ffffff;
    cursor: pointer;
}
.wrapper-main {
    border-right: solid 2px #dedede;
    padding-right: 40px;
}